body {
  margin: 0;
  height: 100%;
  background-color: #f9fafb;
}
.all-container {
  display: flex;
  flex-direction: row;
}
.img-container {
  z-index: -1;
}
.tree {
  position: relative;
  height: 653px;
  width: 387px;
  z-index: -1;
  padding: 0;
  border: 0;
  display: block;
}
.odin-logo {
  z-index: 10;
  width: auto;
  height: 100px;
  margin-left: 90px;
}
/*.trans-container {
  z-index: -2;
  background-attachment: ;
  background-color: black;
  width: 387px;
  height: 100px;
  margin-top: -500px;
  opacity: 35%;
}*/
@font-face {
  font-family: norse;
  src: url(/Norse-Bold.otf);
}
.odin-container > p {
  font-size: 70px;
  margin-left: 159px;
  margin-top: -90px;
  font-family: norse;
  color: white;
}
.odin-container {
  z-index: 10;

  background: rgba(0, 0, 0, 0.5);
  width: 387px;
  height: 100px;
  margin-top: -500px;
  margin-left: 0px;
}

/*right*/
.right-container {
  margin-top: 100px;
}
.text-container {
  width: 490px;
  font-size: large;
  font-weight: 600;
  padding-left: 30px;
}

/*form*/
.all-form {
  background-color: #ffffff;
  width: 977px;
  box-shadow: 10px 10px 5px #dddedf;
}
.form-container {
  display: flex;
  flex-direction: row;
}
.form-left > * {
  padding-bottom: 20px;
  padding-right: 120px;
  padding-left: 30px;
}
.form-right > * {
  padding-bottom: 20px;
}
.lets {
  padding-left: 30px;
}

.btn {
  padding-left: 30px;
}
.bottom-text {
  padding-left: 30px;
}

/*Step 3: Some Tips!

How you attack this project is mostly up to you, but it is wise to begin by scaffolding out the structure of the page, and then take the various sections one by one.

The area behind the “ODIN” logo is a div that has a dark, but semi-transparent background color. This enhances the readability of the text against the busy background image.

The color we’ve chosen for the ‘Create Account’ button is similar to tones found in the background image. Specifically, it is #596D48.

The inputs, by default have a very light border (#E5E7EB), but we’ve included 2 variations. For starters, the password inputs should be given an error class.

The other variation is the selected input, which should have a blue border and subtle box-shadow. This can be done with the :focus pseudo-class you’ve learned about in an earlier lesson.

Do not worry about making your project look nice on mobile, but DO resize your browser a little bit to make sure that it’s not completely broken at different desktop resolutions.


Checking that the password fields match each other requires javascript. Try to implement this if you feel confident, otherwise just validate each field separately.*/
